.rating{
    font-size: xx-large;
    display: flex;
    width: fit-content;
    margin: 0% auto;
}

.star{
    padding: 0.1em;
    padding-right: 0.1em;
}

.stared{
    color: darkorange;
    opacity: 1;
}

.rating:hover :not(.star:hover~.star, .stared){ /* select the siblings of .star element that are not after it when hovered on it and the .rating */
    color: orange;
    opacity: 0.6;
}