div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 0.2rem;
    margin: 15%;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 100px;
    animation: colorAnimate 3s 0s ease-in-out infinite alternate;
}
/* ShortCut
transition: font-size 2s ease-in-out 0.2; */

@keyframes colorAnimate {
    0% {
        background-color: aquamarine;
    }
    50% {
        background-color: blue;
    }
    100% {background-color: red;
        left: 50px;
    color: white;}
}

div:hover{
    
}

div:active{
    background-color: chartreuse;
    transform: translateX(50px);
}