p{
    border-style: dotted;
    border-color: brown;
    /* background-color: blueviolet; */
    width: 300px;
}

h1{
    border-style: dotted;
    border-color: brown;
    background-color: blueviolet;
    width: fit-content;
}

div{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-style: groove;
    border-color: indigo;
    border-width: 15px;
    background-color: indianred;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% ;
}